<section class="archives-wrap">
  <% if (page.category) { %>
    <div class="ct-title">
      <h2><%= page.category %> <small><%= __('menu.categories') %></small></h2>
    </div>
  <% } %>
  <% if (page.tag) { %>
    <div class="ct-title">
      <h2><%= page.tag %>  <small><%= __('meun.tags') %></small></h2>
    </div>
  <% } %>
  <% page.posts.each(function(post, i){ %>
    <div class="archives">
      <div class="title-wrap">
        <a class="post-title" href="<%- url_for(post.path) %>">
          <h1><%- post.title %> <% if(post.subtitle) { %><small><%= post.subtitle %></small><% } %></h1>
        </a>
        <div class="page-info">
        <% if (theme.menu.about) {%>
          <span>By <a href="<%- url_for(theme.menu.about) %>"><%= config.author %></a> on</span>
        <% } else { %>
          <span>By <%= config.author %> on</span>
          <img src="<%= theme.avatar %>">
        <% } %>
          <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, config.date_format) %></time>
        </div>
      </div>
      <div class="content-wrap">
        <% if (post.excerpt) { %>
          <%- post.excerpt %>
        <% } else { %>
          <%- post.content %>
        <% } %>
        <div class='read-more'>
          <a href="<%- url_for(post.path) %>"><span class='i-next'><%= __('read_more') %></span></a>
        </div>
      </div>
    </div>
  <% }) %>
  <% if (page.total > 1){ %>
    <nav id="page-nav" class="page-nav">
      <%- paginator({
        prev_text: "<i class='i-left'></i>",
        next_text: "<i class='i-right'></i>"
      }) %>
    </nav>
  <% } %>
</section>